@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1d1d1d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.stacked-carousel-responsive-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  display: flex !important;
  align-items: center !important;
}

.react-stacked-center-carousel {
  height: 60% !important;
}
